<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#" id="logout">Logout</a></li>
    </ul>
    <div class="nav-logo">
      <div class="nav-logo-box">
        The Tech Blog
      </div>
    </div>
  </nav>
</header>
