<header>
  <h1>The Tech Blog</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#" id="logout">Logout</a></li>
    </ul>
  </nav>
</header>
